<!DOCTYPE html>
{% load static %}

<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Button Overflow</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "index" %}">Button Overflow</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
            <a class="btn btn-outline-primary" role="button" href="{% url "ask" %}">
              New question
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              {% include "logged.html" %}
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row">
          <div class="col-8">
              {% block content %}
              {% endblock %}
          </div>

          <div class="col-1"></div>
          <div class="col-3">
            <h3>Popular Tags</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">
                get some sleep
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                rust btw
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                gopher
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                crabs
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                jizz mopper
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

</html>
