{% extends "base.html" %} {% load static %} {% block content %}

<h1>New Questions</h1>
<div class="question">
  <div class="row">
    <div class="col-1">
      <div class="voting-container text-center">
        <button type="button" class="btn btn-outline-success">
          <svg
            aria-hidden="true"
            class="arrow"
            width="26"
            height="26"
            viewBox="0 0 36 36"
          >
            <path d="M2 25h32L18 9 2 25Z"></path>
          </svg>
        </button>
        <div class="vote-counter" itemprop="upvoteCount" data-value="2">2</div>
        <button type="button" class="btn btn-outline-danger">
          <svg
            aria-hidden="true"
            class="arrow"
            width="26"
            height="26"
            viewBox="0 0 36 36"
          >
            <path d="M2 11h32L18 27 2 11Z"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="col-2">
      <div class="avatar">
        <img src="{% static "img/avatar-1.jpg" %}" alt="" />
      </div>
    </div>
    <div class="col-9">
      <h2 class="question-title">Question 1</h2>
      <div class="question-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam,
        exercitationem.
      </div>
      <div class="row">
        <div class="col-4">
          <div class="answer-count">
            <a href="#">answers (3)</a>
          </div>
        </div>
        <div class="col-8">
          Tags: <a href="#">rust btw</a> <a href="#">crabs</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="question">
  <div class="row">
    <div class="col-1">
      <div class="voting-container text-center">
        <button type="button" class="btn btn-outline-success">
          <svg
            aria-hidden="true"
            class="arrow"
            width="26"
            height="26"
            viewBox="0 0 36 36"
          >
            <path d="M2 25h32L18 9 2 25Z"></path>
          </svg>
        </button>
        <div class="vote-counter" itemprop="upvoteCount" data-value="1">1</div>
        <button type="button" class="btn btn-outline-danger">
          <svg
            aria-hidden="true"
            class="arrow"
            width="26"
            height="26"
            viewBox="0 0 36 36"
          >
            <path d="M2 11h32L18 27 2 11Z"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="avatar">
        <img src="{% static "img/avatar-2.jpg" %}" alt="" />
      </div>
    </div>
    <div class="col-9">
      <h2 class="question-title">Question 2</h2>
      <div class="question-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        recusandae, itaque totam illo laudantium sequi.
      </div>
      <div class="row">
        <div class="col-4">
          <div class="answer-count">
            <a href="#">answers (3)</a>
          </div>
        </div>
        <div class="col-8">
          Tags: <a href="#">gopher</a>
          <a href="#">get some sleep</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "paginator.html" %} {% endblock %}
