{% extends "base.html" %} {% block content %}
<h1>Log In</h1>
<div class="row">
  <div class="col-6">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"> Usename </span>
      <input type="text" class="form-control" />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"> Password </span>
      <input type="password" class="form-control" />
    </div>

    <div class="mb-3">
      <button class="btn btn-primary">Log In</button>
      <button class="btn btn-secondary">Register</button>
    </div>
    <div class="failure">
      <p>Wrong username or password!</p>
    </div>
  </div>
</div>
{% endblock %}
