{% extends "base.html" %} {% load static %} {% block content %}
<h1>Settings: Lostlight</h1>
<div class="row">
  <div class="col-6">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"> Usename </span>
      <input type="text" class="form-control" value="Lostlight" />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"> Email </span>
      <input type="email" class="form-control" value="dont@me.kek" />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"> New password </span>
      <input type="password" class="form-control" />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"> Repeat password </span>
      <input type="password" class="form-control" />
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="avatar">
            <img src="{% static "img/avatar-1.jpg" %}" alt="" />
        </div>
      </div>
      <div class="col-6 my-auto">
        <button class="btn btn-primary">Choose file</button>
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-secondary">Cancel</button>
    </div>
    <div class="failure">
      <p>Email already registered!</p>
    </div>
  </div>
</div>
{% endblock %}
